// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ideaform{
	text-align: center;
}
textarea{
	display: inline-block;
	width: 50%;

}
#ideabutton{
	vertical-align: center;
}
#ideabar{
	width: 50%;
}
.namesays{
	display: inline-block;
	width: 50%;
}
#says{
	display: inline-block;
}
.warpper{
	text-align: center;
}
.border{
	display: inline-block;
	width: 50%;
	height: 20%;
}
.bottomlikes{
	text-align: center;
}